@{
    ViewData["Title"] = "Contacto";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Contacto.css" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <footer class="secinfo">
        <div class="infocontacto">
            <h4>Información de Contacto</h4>
            <div class="nro"><p>📞 52-1-33-12345678</p></div>
            <div class="mail"><p>📧 consultas@reparaya.com</p></div>
            <div class="direccion"><p>📍 Av.Olazabal 848</p></div>
            <div class="localidad"><p>Ituzaingo, Prov.Buenos Aires</p></div>
        </div>

        <div class="logop">
            <img src="~/img/logo.png" alt="Logo ReparaYa!">
        </div>

        <div class="infopoliticas">
            <h4>Políticas y Legal</h4>
            <div class="politicas">
                <p>
                    Política de privacidad <br>
                    Declaración de Accesibilidad <br>
                    Política de Envío <br>
                    Términos y Condiciones <br>
                    Política de Reembolso
                </p>
            </div>
        </div>
    </footer>

</body>
