@{
    ViewData["Title"] = "ReparaYa!";
    var username = ViewBag.Username as string;
}

<link rel="stylesheet" href="~/css/mainstyle.css" />


<div class="container-main">  
    <div class="bienvenida">
    <div class="contenido-bienvenida">
        <h2>Bienvenido a Repara Ya!</h2>
        <p>Repara tu pc con solo un click, sin moverte de tu casa</p>
        <button class="btn-ver-mas">Ver Más</button>
    </div>

    <div class="imagen-hero-derecha">
        <img src="~/img/imagenfondo2.jpeg" alt="Imagen de fondo" id="imagenIndex"/>
    </div>
    </div>

</div>
