@model MVC_IA.Models.Usuario

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<link rel="stylesheet" href="~/css/Login&Registrostyles.css" />
<script src="~/js/Login&RegistroScript.js"></script>

<div class="container">
    <div class="form-box">
        <h2>Iniciar Sesión</h2>
        <form asp-action="Login" asp-controller="Home" method="post">
            <div class="input-group">
                <label asp-for="Username">Usuario</label>
                <input asp-for="Username" required />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" type="password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn">Entrar</button>
        </form>
        <p>¿No tienes cuenta? <a asp-action="Register" asp-controller="Home">Regístrate aquí</a></p>
    </div>
</div>