@{
    ViewData["Title"] = "Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <link rel="stylesheet" href="~/css/nosotrosstyle.css" /> *@

<div class="container-main">
    <div class="bienvenida">

        <div class="contenido-bienvenida">
            <h2>Nosotros</h2>
            <p>
                Somos un equipo apasionado por la tecnología que creó ReparaYa, una
                plataforma web pensada para facilitar la reparación de computadoras
                sin necesidad de moverte de casa. Combinamos inteligencia
                artificial, automatización y diseño simple para brindarte un
                servicio rápido, seguro y completamente online.
            </p>

            <a asp-controller="Home" asp-action="Diagnosticabtn" class="btn-ver-mas">
                Diagnostica y repara aquí
            </a>
        </div>

        <div class="imagen-hero-derecha">
            <img src="~/img/imagenfondo.jpeg" alt="Nuestro equipo trabajando" id="imagenIndex" />
        </div>
    </div>
</div>

<script src="~/js/Diagnostico.js"></script>