@model MVC_IA.Models.Usuario

@{
    ViewData["Title"] = "SignUp";
    Layout = null;
}

<link rel="stylesheet" href="~/css/Login&Registrostyles.css" />

<div class="container">
    <div class="form-box">
        <h2>Crear Cuenta</h2>
        <form asp-action="SignUp" asp-controller="Home" method="post">
            <div class="input-group">
                <label asp-for="Username">Usuario</label>
                <input asp-for="Username" type="text" required />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" type="password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label for="ConfirmPassword">Repetir Contraseña</label>
                <input id="ConfirmPassword" name="ConfirmPassword" type="password" required />
                <span class="text-danger">@ViewBag.ConfirmPasswordError</span>
            </div>

            <div class="form-group">
                <label asp-for="RolId" class="control-label"></label>
                <select asp-for="RolId" asp-items="ViewBag.Roles" class="form-control"></select>
                <span asp-validation-for="RolId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn">Registrarse</button>
        </form>
        <p>
            ¿Ya tienes cuenta?
            <a asp-action="Login" asp-controller="Home">Inicia Sesión</a>
        </p>

        @if (ViewBag.Notification != null)
        {
            <div class="alert alert-danger">@ViewBag.Notification</div>
        }
    </div>
</div>
